<?xml version='1.0' encoding ='UTF-8'?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="dispatch_event_example">
        <observer name="content_example" instance="Sushma\DispatchEventExample\Observer\ContentExample"/>
    </event>
</config>