<?xml version="1.0" encoding='UTF-8'?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/routes.xsd">
    <router id="standard">
        <route id="ui_components" frontName="ui_components">
            <module name='Sushma_JsUiComponents'/>
        </route>
    </router>
    
</config>