<?xml version="1.0" encoding='UTF-8'?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/routes.xsd">
    <router id="standard">
        <route id="virtual_types" frontName="virtual_types">
            <module name="Sushma_VirtualTypes"/>
        </route>
    </router>
    
</config>